@font-face {
  font-family: Gallaudet;
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/GallaudetRegular.ttf');
  src: url('./fonts/GallaudetRegular.ttf') format('truetype');
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: none;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}

a {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  text-decoration: none;
}

*:not(input) {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

input,
textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  outline: none;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body * {
  font-family: 'Roboto';
}

#root {
  max-width: 480px;
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadce4;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff5f6d;
}
